/* line 18, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_base.scss */
html {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

/* line 2, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.card {
  width: 90%;
  min-width: 230px;
  max-width: 450px;
  margin: 0 0 2em 0;
  box-sizing: border-box;
  padding: 1.5em;
  border-radius: 2%;
  color: white;
}

/* line 13, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
#daniel-container {
  background-color: #7541c8;
  position: relative;
  margin-top: 6em;
}

/* line 18, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
#jonathon-container {
  background-color: #48556a;
}

/* line 21, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
#jeanette-container {
  background-color: white;
  color: #48556a;
}

/* line 25, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
#patrick-container {
  background-color: #19212e;
}

/* line 28, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
#kira-container {
  background-color: white;
  color: #48556a;
  margin-bottom: 6em;
}

/* line 35, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.profile-info {
  display: inline-block;
  position: relative;
  top: -.25em;
}

/* line 41, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.profile-name,
.profile-title {
  margin: 0;
}

/* line 46, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.profile-title {
  opacity: 50%;
}

/* line 50, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.profile-name {
  font-weight: 600;
}

/* line 54, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.quote-highlight {
  z-index: 1;
  position: relative;
}

/* line 59, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.full-quote {
  opacity: 70%;
}

/* line 67, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.quotation {
  position: absolute;
  right: 2em;
  top: 0;
  z-index: 0;
}

/* line 75, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
.profile-img {
  border-radius: 50%;
  width: 35px;
  height: auto;
  margin-right: 1em;
}

@media all and (min-width: 1200px) {
  /* line 85, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
  .card {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0;
  }
  /* line 92, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
  #daniel-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
  }
  /* line 99, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
  #jonathon-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  /* line 105, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
  #jeanette-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  /* line 111, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
  #patrick-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  /* line 117, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_components.scss */
  #kira-container {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
  }
}

/* line 1, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_layout.scss */
body {
  margin: 0;
}

/* line 5, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_layout.scss */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf2f8;
}

@media all and (min-width: 1200px) {
  /* line 14, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_layout.scss */
  html {
    font-size: 13px;
  }
  /* line 18, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_layout.scss */
  .main-container {
    height: 70vh;
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    max-width: 1500px;
    max-height: 750px;
  }
  /* line 29, ../../../OneDrive/Documents/GitHub/testimonials-grid-section-main/scss/_layout.scss */
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edf2f8;
  }
}

/*# sourceMappingURL=main.css.map */